body {
    background-color: white;
    color: black;
    font-family: "Times New Roman", serif;
    border: none;
}

h1, h2, h3, h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 200%;
    text-align: center;
}

h2 {
    font-size: 130%;
    text-align: center;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 80%;
}

p {
    font-size: 100%;
}

p.small {
    font-size: 70%;
    text-align: center;
}

p.important {
    background-color:inherit;
    color: red;
}

ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type: none;
    list-style-position: inside;
}

li.inline {
    display:inline;
}

table {
    table-layout: fixed;  /* Speeds up table layout */
    width: 100%; height: 150px;
}

th {
    background-color: #BDF;
    color: inherit;
}

td {
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  vertical-align: top;
}

table.sub {
    border: 2px solid #888888  /* Speeds up table layout */
}

.mg {
    font-size: 1.5em;
    text-align: center;
    background-color: #FFBC79;
    color: inherit;
}

a {
    color: blue;
    background-color: transparent;
}

a.language {
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: inherit;
    background-color:inherit;
}

a:hover {
    color: red;
    background-color: inherit;
}

textarea {
    width: 100%;
    font-size: 15px;
}
